@model PayeeViewModel;


<div class="container mt-5">
    <h2 class="mb-4"> Add Payee </h2>
    <form asp-action="AddPayee" method="post" class="needs-validation">
        <div class="mb-3">
            <label for="FullName" class="form-label">First Name</label>
            <input asp-for="FullName" class="form-control" placeholder="Enter your Full Name" />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="PayeeTypes" class="form-label">Payee Type</label>
            <select asp-for="PayeeTypes" class="form-control">
                <option value="">Select Type</option>
                @foreach (PayeeType type in Enum.GetValues(typeof(PayeeType)))
                {
                    if (type != PayeeType.None )
                    {
                        if (Model != null && Model.PayeeTypes == type)
                        {
                            <option value="@((int)type)" selected>@type.ToString()</option>
                        }
                        else
                        {
                            <option value="@((int)type)">@type.ToString()</option>
                        }
                    }
                }
            </select>
            <span asp-validation-for="PayeeTypes" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="PhoneNumper" class="form-label">Phone Number</label>
            <input asp-for="PhoneNumber" class="form-control" placeholder="+9627XXXXXXXX" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
