@model EmployeeTransactionViewModel;
@using Financial_Almohtasep.Models.Enum;
@using Financial_Almohtasep.Data;
@using Financial_Almohtasep.Models;


<div class="container mt-5">
    <h2 class="mb-4"> Edit Employee Transaction </h2>
    <form asp-action="Edit" method="post" class="needs-validation">
        <input type="hidden" asp-for="EmployeeId" />
        <div class="mb-3">
            <label for="Transaction" class="form-label">Transaction Amount</label>
            <input asp-for="SalaryChange" class="form-control" placeholder="Enter transaction amount" required />
            <span asp-validation-for="SalaryChange" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="TransactionDate" class="form-label">Transaction Date</label>
            <input asp-for="TransactionDate" type="date" class="form-control" required />
            <span asp-validation-for="TransactionDate" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="TransactionDate" class="form-label">Note</label>
            <input asp-for="Note" type="text" class="form-control"  />
            <span asp-validation-for="Note" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="TransactionType" class="form-label">Transaction Type</label>
            <select asp-for="TransactionType" class="form-control" required>
                <option>Select Type</option>
                @foreach (TransactionType type in Enum.GetValues(typeof(TransactionType)))
                {
                    if (type != TransactionType.None && type != TransactionType.Salary)
                    {
                        if (Model != null && Model.TransactionType == type)
                        {
                            <option value="@((int)type)" selected>@type.ToString()</option>
                        }
                        else
                        {
                            <option value="@((int)type)">@type.ToString()</option>
                        }
                    }
                }
            </select>
            <span asp-validation-for="TransactionType" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


